/* navbar section start */
#mainNav.navbar-shrink {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #212529;
}
.navbar > .container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}
.container {
  max-width: 1320px;
}
/* navbar section complete */
/* header section start */
header.masthead {
  padding-top: 17rem;
  padding-bottom: 12.5rem;
  margin-top: 75px;
}
header.masthead {
  text-align: center;
  color: #fff;
  background-image: url("./images//main-img.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
header.masthead .masthead-subheading {
  font-size: 2.25rem;
  font-style: italic;
  line-height: 2.25rem;
  margin-bottom: 2rem;
}
header.masthead .masthead-heading {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 4.5rem;
  margin-bottom: 4rem;
}
.button {
  padding: 1.25rem 2.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  background-color: yellow;
  color: white;
}
.headbtn {
  padding: 1.25rem 2.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  background-color: yellow;
  color: white;
  border-radius: 6px;
}
/* header section complete */
/* services section start */
.page-section {
  padding: 6rem 0;
}
.text-center {
  text-align: center !important;
}
.page-section h2.section-heading {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.page-section h3.section-subheading {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 4rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col-md-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}
.row > * {
  max-width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  margin-top: 0px;
}
/* service section start */
.fa-stack {
  display: inline-block;
  vertical-align: middle;
  height: 2em;
  position: relative;
  width: 2.5em;
  background-color: rgb(255, 200, 0);
  border-radius: 50%;
}
.fa-stack svg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-4x {
  font-size: 4em;
}
/* service section complete */
/* portfolio section start */
.text-center {
  text-align: center !important;
}
.page-section h2.section-heading {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.page-section h3.section-subheading {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 4rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col-lg-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}
#portfolio .portfolio-item {
  max-width: 26rem;
  margin-left: auto;
  margin-right: auto;
}
#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
  font-size: 1.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  margin-bottom: 0;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-subheading {
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
/* portfolio section complete */
/* about section start */

.timeline-img {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border: 7px solid #e9ecef;
  background-color: #ffc800;
}

.timeline-item {
  position: relative;
}

.subheading {
  font-weight: 600;
  text-transform: none;
}

@media (min-width: 768px) {
  .timeline-item::before {
    content: "";
    position: absolute;
    width: 2px;
    background: #e9ecef;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
}

/* about section complete */
/* team section start */
.row {
  display: flex;
  flex-wrap: wrap;
}
.col-lg-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}
.team-member {
  margin-bottom: 3rem;
  text-align: center;
}
.team-member img {
  width: 14rem;
  height: 14rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
}
.rounded-circle {
  border-radius: 50% !important;
}
img {
  vertical-align: middle;
}
.team-member h4 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}
h4 {
  font-size: 1.5rem;
  line-height: 1.2;
}
p {
  line-height: 1.75;
}
.btn .btn-social {
  height: 2.5rem;
  width: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 100%;
}
.btn-dark a {
  border-radius: 100%;
}
/* team section  complete */
/* contact section start */
section#contact {
  background-color: #212529;
  background-image: url(./images/map-image.png);
  background-repeat: no-repeat;
  background-position: center;
}
.text-center {
  text-align: center !important;
}
section#contact .section-heading {
  color: #fff;
}
.page-section h2.section-heading {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.page-section h3.section-subheading {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 4rem;
}
form {
  display: block;
  margin-top: 0em;
  unicode-bidi: isolate;
}
.mb-5 {
  margin-bottom: 3rem !important;
}
.align-items-stretch {
  align-items: stretch !important;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col-md-6 {
  flex: 0 0 auto;
  width: 50%;
}
.row > * {
  max-width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  margin-top: 0px;
}
section#contact form#contactForm .form-group {
  margin-bottom: 1.5rem;
}
section#contact form#contactForm .form-group input {
  padding: 1.25rem;
}
.form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
}
section#contact form#contactForm .form-group-textarea {
  height: 100%;
}
section#contact form#contactForm .form-group-textarea textarea {
  height: 100%;
  min-height: 10rem;
}
.mb-md-0 {
  margin-bottom: 0 !important;
}
section#contact form#contactForm .form-group input,
section#contact form#contactForm .form-group textarea {
  padding: 1.25rem;
}
.text-white {
  --bs-text-opacity: 1;
  color: rgba(255, 255, 255);
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.btn.disabled {
  color: #fff;
  pointer-events: none;
  background-color: #ffc800;
  border-color: #ffc800;
  opacity: 0.65;
  padding: 1.25rem 2.5rem;
  font-size: 1.125rem;
  font-weight: 700;
}
/* contact section complete */
/* footer section start */
.footer {
  text-align: center;
  font-size: 0.9rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}
.align-items-center {
  align-items: center !important;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.text-lg-start {
  text-align: left !important;
}
.col-lg-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.btn .btn-dark .btn-social {
  height: 2.5rem;
  width: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 100%;
}
.row > * {
  max-width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  margin-top: 0px;
}
.my-lg-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.text-decoration-none {
  text-decoration: none !important;
}
